body {
  font-family: "Quicksand", sans-serif;
}

.container {
  width: 1296px;
  margin-left: auto;
  margin-right: auto;
}

.page-header {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 30px;
}

.left-wrapper {
  display: flex;
  align-items: center;
  gap: 44px;
  position: relative;
}

.button-explore {
  border-radius: 4px;
  width: 98px;
  background: #0f8277;
  padding: 10px 12px 10px 12px;
  color: #eee;
  font-size: 16px;
  font-weight: 700;
  line-height: 120%;
  border: 1px solid #0f8277;
  cursor: pointer;
  position: relative;
  text-align: start;
}

.button-explore::after {
  content: "";
  background-image: url(../images/vectors/strelka.svg);
  background-size: 16px 16px;
  background-position: top 0 right 0;
  display: block;
  width: 16px;
  height: 16px;
  position: absolute;
  top: 10px;
  right: 5px;
}

.button-explore:hover + .explore-menu-div {
  display: block;
}

.explore-menu-div:hover {
  display: block;
}

.explore-menu-div {
  background-color: #fff;
  width: 384px;
  position: absolute;
  top: 44px;
  right: 100px;
  display: none;
}

.menu-wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 16px 12px 32px 12px;
}

hr {
  height: 1px;
  width: 100%;
  background: #000;
  margin: 0;
}

.explore-menu-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.explore-link {
  text-decoration: none;
}

.explore-div {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.explore-menu-title {
  color: #000;
  font-size: 16px;
  font-weight: 700;
  line-height: 120%;
}

.logo-link {
  display: flex;
  text-decoration: none;
  color: #000;
  font-size: 32px;
  font-weight: 700;
  line-height: 120%;
}

.page-button-green {
  border-radius: 4px;
  background: #0f8277;
  padding: 10px 12px;
  color: #eee;
  font-size: 16px;
  font-weight: 700;
  line-height: 120%;
  border: 1px solid #0f8277;
  cursor: pointer;
  width: fit-content;
}

.search {
  display: flex;
  width: 330px;
  position: relative;
}

.search-input {
  width: 100%;
  display: flex;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 12px;
  padding-right: auto;
  color: #5c5c5c;
  font-family: Quicksand;
  font-size: 16px;
  font-weight: 500;
  line-height: 120%;
  border-radius: 4px;
  border: 1px solid #5c5c5c;
  justify-content: space-between;
}
.search-button {
  position: absolute;
  top: 0px;
  left: 294px;
  width: 36px;
  height: 37px;
  padding: 10px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border: 1px solid #5c5c5c;
  background: #0f8277;
  cursor: pointer;
}

.right-wrapper {
  display: flex;
  align-items: center;
  gap: 104px;
}

.nav-menu-list {
  display: flex;
  gap: 48px;
}
.nav-menu-link {
  text-decoration: none;
  color: #000;
  font-size: 16px;
  font-weight: 500;
  line-height: 120%;
  cursor: pointer;
}

.button-menu {
  display: flex;
  gap: 16px;
}

.link-log-in {
  text-decoration: none;
  color: #0f8277;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 120%;
  padding: 10px 12px;
}

.link-sign-in,
.link-start-learning {
  text-decoration: none;
  color: #eee;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 120%;
  padding: 10px 12px;
  border-radius: 4px;
  background: #0f8277;
}

.get-started-g {
  text-decoration: none;
  border-radius: 4px;
  background: #0f8277;
  font-family: Cabin;
  color: #f6fdff;
  font-size: 18px;
  font-weight: 500;
  line-height: normal;
  padding: 10px 12px;
}

.get-started-white-border {
  border: 2px solid #fff;
}

.log-in-button {
  display: flex;
  color: #0f8277;
  font-size: 16px;
  font-weight: 700;
  line-height: 120%;
  padding: 10px 12px;
  background-color: #fff;
  border: none;
  cursor: pointer;
}

.hero-block {
  width: 100%;
  border-radius: 12px;
  background: #dbf3ed;
  background-image: url(../images/backgroundsphoto/hero-img.png);
  background-repeat: no-repeat;
  background-position-x: calc(720px);
  background-position-y: center;
  margin-bottom: 80px;
}

.learn-comfortably {
  display: flex;
  flex-direction: column;
  padding: 170px 0 184px 110px;
  gap: 32px;
  align-items: flex-start;
}

.main-title {
  color: #000;
  font-size: 56px;
  font-weight: 700;
  line-height: 120%;
}

.text-subtitle-1 {
  color: #000;
  font-size: 22px;
  font-weight: 600;
  line-height: 120%;
}

.button-wrapper {
  display: flex;
  gap: 24px;
  align-items: center;
}

.learn-more-btn {
  display: flex;
  color: #0f8277;
  font-size: 16px;
  font-weight: 700;
  line-height: 120%;
  border-radius: 4px;
  border: 2px solid #0f8277;
  background-color: #dbf3ed;
  padding: 10px 12px;
  cursor: pointer;
}

.best-program-div {
  display: flex;
  flex-direction: column;
  margin-bottom: 80px;
  gap: 40px;
}

.heading-start {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.third-subtitle {
  display: flex;
  color: #0f8277;
  font-size: 20px;
  font-weight: 700;
  line-height: 120%;
}

.second-title {
  display: flex;
  color: #000;
  font-size: 40px;
  font-weight: 700;
  line-height: 120%;
}

.align-center {
  text-align: center;
  justify-content: center;
}

.subtitle-text {
  color: #000;
  font-size: 20px;
  font-weight: 500;
  line-height: 120%;
}

.academic-training {
  display: flex;
  flex-direction: column;
}

.card-list {
  display: flex;
  gap: 24px;
}

.card-link {
  text-decoration: none;
}

.card-1 {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  border: 1px solid #dadada;
  width: 416px;
}

.card-content {
  padding: 24px 16px;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 76px;
}

.content-wrapper-3 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 47px;
}

.education-wrapper {
  display: flex;
  gap: 12px;
}

.page-text {
  color: #000;
  font-size: 16px;
  font-weight: 500;
  line-height: 120%;
  text-decoration: none;
}

.green-text {
  color: #0f8277;
}

.card-photo {
  width: 416px;
  height: 270px;
}

.image {
  width: 100%;
  height: 100%;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}

.forth-subtitle {
  color: #000;
  font-size: 24px;
  font-weight: 700;
  line-height: 120%;
}

.get-diploma-div {
  display: flex;
  gap: 12px;
}

.popular-cources-div {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 80px;
}

.course {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  border: 1px solid #dadada;
  width: 306px;
}

.course-photo {
  width: 306px;
  height: 270px;
}

.image-course {
  width: 306px;
  height: 270px;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}

.more-cources-div {
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
  gap: 16px;
}

.feature-topics {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 80px;
}

.category-all {
  display: flex;
  gap: 24px;
}

.category {
  width: 306px;
}

.topic-list {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.sub-topic {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.partners {
  display: flex;
  justify-content: center;
  background-color: #dbf3ed;
  margin-bottom: 80px;
}

.parters-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 60px;
  padding: 80px 36px;
}

.partners-icon {
  display: flex;
  justify-content: center;
}

.icon-list {
  display: flex;
  gap: 22px;
  align-items: center;
}

.cooperate {
  padding: 10px;
}

.business {
  display: flex;
  gap: 72px;
  align-items: center;
  margin-bottom: 70px;
}

.business-content {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 636px;
  align-content: center;
}

.company-grid {
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 136px);
}

.company-element:nth-child(1),
.company-element:nth-child(4),
.company-element:nth-child(7) {
  border-right: 1px solid #bababa;
}

.company-element:nth-child(3),
.company-element:nth-child(6),
.company-element:nth-child(9) {
  border-left: 1px solid #bababa;
}

.company-element:nth-child(1),
.company-element:nth-child(2),
.company-element:nth-child(3) {
  border-bottom: 1px solid #bababa;
}

.company-element:nth-child(4),
.company-element:nth-child(5),
.company-element:nth-child(6) {
  border-bottom: 1px solid #bababa;
}

.company-element {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 196px;
}

.price {
  display: flex;
  height: 786px;
  background-color: #dbf3ed;
  padding: 80px 36px 100px 36px;
  margin-bottom: 80px;
}

.price-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
  align-items: center;
}

.plans-list {
  display: flex;
  gap: 24px;
  width: fit-content;
}

.plan-element {
  border-radius: 24px;
  border: 1px solid #0f8277;
  background: #fdfdfd;
  padding: 56px;
  width: 306px;
}

.plan-element:nth-child(2) {
  background-color: #0f8277;
}

.plan-content {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.plan-content-element {
  position: relative;
}

.plan-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 27px;
  margin-bottom: 48px;
  position: relative;
}

.plan-title::after {
  content: "";
  height: 2px;
  width: 100%;
  background-color: #0f8277;
  right: 0;
  top: 332px;
  position: absolute;
}

.plan-title-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 27px;
  margin-bottom: 48px;
  position: relative;
}

.plan-title-2::after {
  content: "";
  height: 2px;
  width: 100%;
  background-color: #fff;
  right: 0;
  top: 332px;
  position: absolute;
}

.plan-price {
  display: flex;
  justify-content: center;
  margin-bottom: 48px;
  gap: 16px;
  align-items: center;
}

.plan-price-2 {
  display: flex;
  justify-content: center;
  gap: 16px;
  align-items: center;
}

.plan-price-3 {
  display: flex;
  justify-content: center;
  gap: 16px;
  align-items: center;
  margin-bottom: 19px;
}

.price-for-course {
  display: flex;
  color: #000;
  font-size: 40px;
  font-weight: 700;
  line-height: 120%;
}

.list-text {
  color: #000;
  font-size: 16px;
  font-weight: 500;
  line-height: 120%;
  text-align: left;
  padding-left: 32px;
}

.list-text::before {
  content: "";
  background-image: url(../images/vectors/bullit-g.svg);
  background-size: 16px 16px;
  background-position: top 0 left 0;
  display: block;
  width: 16px;
  height: 16px;
  position: absolute;
  top: 0;
  left: 0;
}

.list-text-white {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 120%;
  text-align: left;
  padding-left: 32px;
}

.list-text-white::before {
  content: "";
  background-image: url(../images/vectors/bullit-w.svg);
  background-size: 16px 16px;
  background-position: top 0 left 0;
  display: block;
  width: 16px;
  height: 16px;
  position: absolute;
  top: 0;
  left: 0;
}

.plan-content-list {
  display: flex;
  flex-direction: column;
  margin-top: 48px;
  width: 100%;
  gap: 16px;
}

.white-text {
  color: #fff;
}

.students-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  margin-bottom: 76px;
}

.students-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  row-gap: 24px;
  column-gap: 24px;
}

.students-element-1 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}
.students-element-2 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}

.students-element-3 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
}

.students-element-4 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
}

.students-element-5 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
}

.students-element-6 {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 4;
}

.students-element-7 {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;
}

.students-element-8 {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
}

.students-element-9 {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
}

.contact {
  background-image: url(../images/backgroundsphoto/image-32.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.form-frame {
  display: flex;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  justify-content: center;
}

.contact-form {
  display: flex;
  flex-direction: column;
  width: 565px;
  border-radius: 24px;
  background-color: #dbf3ed;
  padding: 30px;
  margin: 64px auto 48px auto;
  gap: 24px;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 24px;
}

.form-input {
  display: block;
  padding: 12px;
  width: auto;
  border-radius: 4px;
  border: 1px solid #0f8277;
  background: #fdfdfd;
  color: #8e8e8e;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.label1 {
  display: block;
  color: #000;
  font-size: 22px;
  font-weight: 600;
  line-height: 24px;
  margin-bottom: 8px;
}

.input-div {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.textarea {
  min-height: 104px;
  resize: none;
  color: #8e8e8e;
  font-family: Quicksand;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  padding: 12px;
}

.send-button {
  width: 196px;
  padding: 10px 12px;
  border-radius: 4px;
  background: #0f8277;
  color: #f6fdff;
  font-family: Cabin;
  font-size: 18px;
  font-weight: 500;
  line-height: normal;
  border: none;
}

.page-footer {
  display: flex;
  padding: 64px 36px;
  justify-content: space-between;
}

.left-footer {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.right-footer {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.social-list {
  display: flex;
  gap: 24px;
  justify-content: end;
}

.social-link-instagram {
  display: block;
  background-image: url(../images/social-networks/Instagram.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 32px;
  height: 32px;
}

.social-link-facebook {
  display: block;
  background-image: url(../images/social-networks/Facebook.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 32px;
  height: 32px;
}

.social-link-linkedin {
  display: block;
  background-image: url(../images/social-networks/LinkedIn.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 32px;
  height: 32px;
}
